<html>

<head>
    <title>Smart Job | Home</title>

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css" />
</head>

<body>

<div class="container">

    <div class="col-md-12">

        <h1>{{ job.title }}</h1>

        <h3>{{ job.category }}</h3>

        {{ job.description }}
    </div>

</div>

</body>

</html>
